<div class="popover-wrapper">
    <a class="popover-wrapper__trigger" pop-over data-open-modal="event-details" data-open-tab="general" data-resource-id="{{row.id}}" ng-if="row.publications.length">
        <span translate="YES">Yes</span>
    </a>

    <div class="js-popover popover is-hidden" ng-if="row.publications.length">
        <div class="popover__header"></div>
        <div class="popover__content">
            <div ng-repeat="publication in row.publications" model="publication">
                <!-- WARNING! translate directive + ng-include may lead to untranslated codes -->
                <a href="{{publication.url}}" class="popover__list-item" target="_blank">{{publication.name | translate}}</a>
            </div>
        </div>
    </div>
</div>
